<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan Pendapatan - Bank Sampah Daur Ulang</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body >
    <header>
        <a th:href="@{/pengguna/}" style="text-decoration: none; font-size: 20px;">&#8592;</a>
        <h1>Laporan Pendapatan</h1>
    </header>

    <main>
        <h2>Laporan Pendapatan Anda,</h2>
        <form th:action="@{/pengguna/laporan_pendapatan}" method="post">
            <label for="start_date">Tanggal Mulai:</label>
            <input type="date" id="start_date" name="start_date" required>
            <label for="end_date">Tanggal Akhir:</label>
            <input type="date" id="end_date" name="end_date" required>
            <button type="submit">Tampilkan Laporan</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Total Pendapatan (Rp)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pendapatan : ${pendapatanList}">
                    <td th:text="${pendapatan.tanggal}"></td>
                    <td th:text="${pendapatan.total}"></td>
                </tr>
                <tr th:if="${#lists.isEmpty(pendapatanList)}">
                    <td colspan="2" style="text-align: center;">Tidak ada pendapatan</td>
                </tr>
                <!-- Tambahkan laporan pendapatan lainnya di sini -->
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 Bank Sampah Daur Ulang. All rights reserved.</p>
    </footer>
</body>
</html>