<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data Sampah</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="popup.css" th:href="@{/popup.css}">
</head>
<body>
    <header>
        <a th:href="@{/pemilik/kelolaSampah}" style="text-decoration: none; font-size: 20px;">&#8592;</a>
        <h1>Edit Data Jenis Sampah</h1>
        <nav>
            <ul>
                <li><a th:href="@{/dashboard}" id="current_page">Dashboard</a></li>
                <li><a th:href="@{/pemilik/kelolaSampah}">Kelola Sampah</a></li>
                <li><a th:href="@{/pemilik/kelolaMember}">Kelola Member</a></li>
                <li><a th:href="@{/pemilik/transaksi}">Transaksi</a></li>
                <li><a th:href="@{/pemilik/transaksiKePusat}">Penyetoran ke Pusat</a></li>
                <li><a th:href="@{/pemilik/laporan}">Laporan</a></li>
                <li><a th:href="@{/logoutPage}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Formulir Pengubahan Data Sampah</h2>
        <section    >
            <form th:action="@{/pemilik/editSampah/{namaSampahOld}/ubah(namaSampahOld=${nama})}" method="post">
                <div>
                    <label for="jenis-sampah">Nama Jenis Sampah: <span th:text="${nama}"></span></label>
                    <input type="hidden" id="jenis-sampah" name="namaSampah" th:value="${nama}" required>  
                </div>
                <div>
                    <label for="satuan">Satuan: <span th:text="${satuanKuantitas}"></span></label>
                    <input type="hidden" id="satuan" name="satuanKuantitas" th:value="${satuanKuantitas}" required>
                </div>
                <div>
                    <label for="harga-beli">Harga Beli (Rp):</label>
                    <input type="number" id="harga-beli" name="harga" th:value="${harga}" required>
                </div>
                <div>
                    <button id="saveButton" type="submit">Simpan Perubahan</button>

                    <!-- <button id="deleteButton">Hapus</button> -->
                    <a th:href="@{/pemilik/kelolaSampah}" class="button"><button>Batal</button></a>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Bank Sampah Daur Ulang. All rights reserved.</p>
    </footer>

            <!-- Pop-up Konfirmasi -->
            <div class="popup-overlay" id="popupOverlay">
                <div class="popup">
                    <h3>Apakah Anda yakin ingin menghapus sampah ini?</h3>
                    <div>
                        <a th:href = '@{/pemilik/kelolaSampah}'><button class="confirm" id="confirmDelete">Hapus</button></a>
                        <button class="cancel" id="cancelDelete">Batal</button>
                    </div>
                </div>
            </div>
        
            <script>
                // //script pop up
                // const deleteButton = document.getElementById('deleteButton');
                // const popupOverlay = document.getElementById('popupOverlay');
                // const confirmDelete = document.getElementById('confirmDelete');
                // const cancelDelete = document.getElementById('cancelDelete');
        
                // deleteButton.addEventListener('click', () => {
                //     popupOverlay.classList.add('active');
                // });
        
                // //redirect ke kelola_member.html
                // confirmDelete.addEventListener('click', () => {
                //     popupOverlay.classList.remove('active');
                //     // window.location.href = 'kelola_member.html';
                //     //idk which one
                //     // window.location.href = '@{/pemilik/kelolaMember}' 
                // });
        
                // // Menutup pop-up jika tombol Batal ditekan
                // cancelDelete.addEventListener('click', () => {
                //     popupOverlay.classList.remove('active');
                // });
            </script>
</body>
</html>
