<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelola Jenis Sampah - Bank Sampah Daur Ulang</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>
<body>
    <header>
        <a th:href="@{/dashboard}" style="text-decoration: none; font-size: 20px;">&#8592;</a>
        <h1>Kelola Sampah</h1>
        <nav>
            <ul>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/pemilik/kelolaSampah}" id="current_page">Kelola Sampah</a></li>
                <li><a th:href="@{/pemilik/kelolaMember}">Kelola Member</a></li>
                <li><a th:href="@{/pemilik/transaksi}">Transaksi</a></li>
                <li><a th:href="@{/pemilik/transaksiKePusat}">Penyetoran ke Pusat</a></li>
                <!-- <li><a th:href="@{/pemilik/laporan}">Laporan</a></li> -->
                <li><a th:href="@{/logoutPage}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- <h2>Tambah Jenis Sampah</h2>
        <form>
            <label for="jenis_sampah">Jenis Sampah:</label>
            <input type="text" id="jenis_sampah" name="jenis_sampah" required>
            <label for="satuan">Satuan:</label>
            <input type="text" id="satuan" name="satuan" required>
            <label for="harga_beli">Harga Beli (Rp):</label>
            <input type="number" id="harga_beli" name="harga_beli" required>
            <button type="submit">Tambah</button>
        </form> -->

        <div class="subJudul">
            <h2>Daftar Sampah</h2>
            <a th:href="@{/pemilik/tambahSampah}"><button>Tambah Sampah</button></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Jenis Sampah</th>
                    <th>Satuan</th>
                    <th>Harga Beli (Rp)</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sampah : ${listSampah}">
                    <td th:text="${sampah.nama}"></td>
                    <td th:text="${sampah.satuankuantitas}"></td>
                    <td th:text="${sampah.harga}"></td>
                    <td><button>Edit</button></td>
                </tr>
                <!-- Tambahkan jenis sampah lainnya di sini -->
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 Bank Sampah Daur Ulang. All rights reserved.</p>
    </footer>
</body>
</html>