<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name ```html
    ="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory - Bank Sampah Daur Ulang</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>
<body>
    <header>
        <a th:href="@{/dashboard}" style="text-decoration: none; font-size: 20px;">&#8592;</a>
        <h1>Laporan Keluar Masuk Sampah</h1>
        <nav>
            <ul>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/pemilik/kelolaSampah}">Kelola Sampah</a></li>
                <li><a th:href="@{/pemilik/kelolaMember}">Kelola Member</a></li>
                <li><a th:href="@{/pemilik/transaksi}">Transaksi</a></li>
                <li><a th:href="@{/pemilik/transaksiKePusat}">Penyetoran ke Pusat</a></li>
                <li><a th:href="@{/pemilik/laporan}" id="current_page">Inventory</a></li>
                <li><a th:href="@{/logoutPage}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Stok Total</h2>

        <table>
            <thead>
                <tr>
                    <th>Nama Sampah</th>
                    <th>Satuan Kuantitas</th>
                    <th>Jumlah Masuk ke Bank</th>
                    <th>Jumlah Keluar ke Pusat</th>
                    <th>Jumlah di Gudang</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="laporan : ${listLaporan}">
                    <td th:text="${laporan['namasampah']}"></td>
                    <td th:text="${laporan['satuankuantitas']}"></td>
                    <td th:text="${laporan.total_kuantitas}"></td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 Bank Sampah Daur Ulang. All rights reserved.</p>
    </footer>
</body>
</html>