<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name ```html
    ="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan - Bank Sampah Daur Ulang</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>
<body>
    <header>
        <a th:href="@{/dashboard}" style="text-decoration: none; font-size: 20px;">&#8592;</a>
        <h1>Laporan Keluar Masuk Sampah</h1>
        <nav>
            <ul>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/pemilik/kelolaSampah}">Kelola Sampah</a></li>
                <li><a th:href="@{/pemilik/kelolaMember}">Kelola Member</a></li>
                <li><a th:href="@{/pemilik/transaksi}">Transaksi</a></li>
                <li><a th:href="@{/pemilik/transaksiKePusat}">Penyetoran ke Pusat</a></li>
                <li><a th:href="@{/pemilik/laporan}" id="current_page">Laporan</a></li>
                <li><a th:href="@{/logoutPage}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Laporan Transaksi</h2>
        <table>
            <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Jenis Sampah</th>
                    <th>Kuantitas Masuk</th>
                    <th>Kuantitas Keluar</th>
                    <!-- <th>Saldo</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01-10-2023</td>
                    <td>Botol Plastik 600ml</td>
                    <td>5</td>
                    <td>0</td>
                    <!-- <td>5</td> -->
                </tr>
                <tr>
                    <td>05-10-2023</td>
                    <td>Kardus</td>
                    <td>2</td>
                    <td>0</td>
                    <!-- <td>2</td> -->
                </tr>
                <tr>
                    <td>10-10-2023</td>
                    <td>Botol Plastik 600ml</td>
                    <td>0</td>
                    <td>3</td>
                    <!-- <td>2</td> -->
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 Bank Sampah Daur Ulang. All rights reserved.</p>
    </footer>
</body>
</html>