<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>
<body>
    <header> 
        <a th:href="@{/pemilik/kelolaSampah}" style="text-decoration: none; font-size: 20px;">&#8592;</a>
        <h1>Kelola Sampah</h1> 
    </header>
    <main class="tambah">
        <section class="tambahMember">
            <h2>Tambah Sampah</h2>
            <form action="/pemilik/tambahSampah/add" method="post">
                <label for="namaSampah">Jenis Sampah:</label>
                <input type="text" id="namaSampah" name="namaSampah" required>
                <label for="satuanKuantitas">Satuan:</label>
                <input type="text" id="satuanKuantitas" name="satuanKuantitas" required>
                <label for="harga">Harga Beli (Rp):</label>
                <input type="number" id="harga" name="harga" required>
                <button type="submit">Tambah</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Bank Sampah Daur Ulang. All rights reserved.</p>
    </footer>
</body>
</html>