<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>
<body>
    <header> 
        <a th:href="@{/pemilik/transaksiKePusat}" style="text-decoration: none; font-size: 20px;">&#8592;</a>
        <h1>Penyetoran Sampah ke Pusat</h1> 
    </header>

    <main class="tambah">
        <section class="card-container">
            <div class="card">
                <div class="keteranganCard">
                    <h3>Botol Plastik 600ml</h3>
                    <p>Harga: 2000/buah</p>
                </div>
                <p>Stok saat ini: 10</p>
                
                <div class="number-input">
                    Kuantitas:
                    <input type="number" id="number" value="0" min="0" />
                </div>
            </div>
            <div class="card">
                <div class="keteranganCard">
                    <h3>Kardus</h3>
                    <p>Harga: 1500/kg</p>
                </div>
                <p>Stok saat ini: 10</p>
                
                <div class="number-input">
                    Kuantitas:
                    <input type="number" id="number" value="0" min="0" />
                </div>
            </div>
        </section>
        <section class="tambahMember">
            <h2>Setor Sampah</h2>
            <form>
                <!-- <label for="jenis_sampah">Jenis Sampah:</label>
                <input type="text" id="jenis_sampah" name="jenis_sampah" required>
                <label for="kuantitasNow">Kuantitas saat ini:</label>
                <label for="kuantitas">Kuantitas:</label>
                <input type="number" id="kuantitas" name="kuantitas" required> -->
                <button type="submit">Setor Sampah</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Bank Sampah Daur Ulang. All rights reserved.</p>
    </footer>
</body>
</html>